 /* Estilos para el formulario de contacto */
 form {
    display : flex; /* Para alinear los elementos del formulario */ 
    flex-direction : column; /* Para que los elementos del formulario estén en columnas */ 
    align-items : center; /* Para centrar los elementos del formulario */ 
}

form label {
    font-size :18px; 
    color :#333; 
    font-weight : bold; /* Resaltar las etiquetas */ 
    margin-top :10px; /* Espacio entre las etiquetas y los campos de texto */ 
}

form input, form textarea {
    width :100%; /* Ancho de los campos de texto */ 
    height :30px; /* Alto de los campos de texto */ 
    border :1px solid #333; /* Borde de los campos de texto */ 
    border-radius :10px; /* Borde redondeado de los campos de texto */ 
    padding :5px; /* Espacio entre el borde y el texto */ 
}

form textarea {
    height :100px; /* Alto del campo de mensaje */ 
    resize : none; /* No permitir cambiar el tamaño del campo de mensaje */ 
}

form button {
    width :100%; /* Ancho del botón de enviar */ 
    height :40px; /* Alto del botón de enviar */ 
    border : none; /* Sin borde el botón de enviar */ 
    border-radius :10px; /* Borde redondeado del botón de enviar */ 
    background-color :#00e086; /* Color del botón de enviar */ 
    color : white; /* Color del texto del botón de enviar */ 
    font-size :18px; /* Tamaño del texto del botón de enviar */ 
    font-weight : bold; /* Resaltar el texto del botón de enviar */ 
    margin-top :20px; /* Espacio entre el botón de enviar y el campo de mensaje */ 
}

form button:hover {
    background-color :#0dc1fc; /* Cambiar el color del botón al pasar el ratón */ 
}