* {
    font-family: Verdana; 
    scroll-behavior: smooth; /* Transición suave usando el menu dropdown */
}

body {
    background-image: url('../Resources/background/pattern.jpg');
    background-color: #333;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar la barra de navegación */
    background: linear-gradient(to right, #00e086, #0dc1fc); /* Gradiente de color */
    color: white;
    border-radius: 10px; /* Borde redondeado */
    box-shadow: 0 5px 10px #999;
}

nav a {
    padding: 14px 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

/* Estilos para el dropdown menu */
.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0dc1fc; /* Color de acento */
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para el contenido principal */
main {
    margin: 20px;
}

main h1 {
    font-size: 36px;
    color: #00e086;
    text-align: center; /* Centrar el título */
}

main h2 {
    font-size: 24px;
    color: #333;
    font-weight: bold; /* Resaltar los títulos */
}

main p {
    font-size: 18px;
    color: #333;
    text-align: justify; /* Justificar el texto */
}

/* Estilos para el panel de bordes redondeados */
.panel {
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #ecfcfb; /* Color principal */
    margin-bottom: 20px; /* Espacio entre paneles */
    box-shadow: 0 5px 10px #999;
    max-width: 90%;
    max-width: 1500px;
}

/* Estilos para el elemento article */
article {
    display: flex; /* Para alinear el texto y la imagen */
    flex-direction: column; /* Para que el texto y la imagen estén en columnas */
    align-items: center; /* Para centrar el texto y la imagen */
}

article p {
    width: 80%; /* Para que el texto no ocupe todo el ancho del panel */
}

 /* Estilos para la barra decorativa */
 .barra-inferior {
    display: grid;
    justify-content: center; /* Alineación horizontal al centro */
    align-items: center; /* Alineación vertical al centro */
    background-color: #00e086; /* Color de acento para el fondo */
    border-radius: 10px; /* Borde redondeado */
}

.barra-inferior img {
    width: 100px; 
    height: auto; 
    transition: transform 0.3s;
}

.barra-inferior img:hover {
    transform: scale(1.05); /* Agrandar el logo al pasar el ratón */
}

 /* Estilos para la barra decorativa */
 .barra-superior {
    display: flex;
    justify-content: center; /* Alineación horizontal al centro */
    align-items: center; /* Alineación vertical al centro */
    background-color: #00e086; /* Color de acento para el fondo */
    border-radius: 10px; /* Borde redondeado */
}

.barra-superior h1 {
    font-size: 48px; /* Tamaño de fuente del nombre de la empresa */
    color: white; /* Color blanco para el texto */
    margin-right: 20px; /* Margen derecho para separar del logo */
}

.barra-superior img {
    width: 80px; /* Ancho fijo del logo */
    height: auto; /* Altura proporcional al ancho */
}